In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

filename = 'turnstyle_2016.csv'
# Read subway data from csv into a pandas dataframe
subway_df = pd.read_csv(filename)
head = subway_df.head()
print "Hello World"

/Users/chrissebesta/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)
/Users/chrissebesta/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Hello World

In [15]:
print subway_df.head()
print len(subway_df)

    C/A  Unit       SCP Station Line Name Division        Date      Time  \
0  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  23:00:00
1  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  19:00:00
2  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  15:00:00
3  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  11:00:00
4  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  08:10:05

  Description  Entries  \
0     REGULAR  5572864
1     REGULAR  5572521
2     REGULAR  5571587
3     REGULAR  5571313
4     REGULAR  5571173

   Exits
0                                            1881239
1                                            1881206
2                                            1881113
3                                            1881031
4                                            1880736
9492670

In [18]:
subway_week = subway_df[subway_df['Date'].isin(['10/31/2016','11/01/2016','11/02/2016','11/03/2016','11/04/2016','11/05/2016','11/06/2016'])]
print subway_week.head()
print len(subway_week)

          C/A  Unit       SCP Station Line Name Division        Date  \
7945848  A013  R081  01-05-00   49 ST      NQRW      BMT  11/03/2016
7947613  A013  R081  01-05-00   49 ST      NQRW      BMT  11/04/2016
7951228  A013  R081  01-05-00   49 ST      NQRW      BMT  11/04/2016
7952926  A013  R081  01-05-00   49 ST      NQRW      BMT  11/04/2016
7953406  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016

             Time Description  Entries  \
7945848  20:00:00     REGULAR      621
7947613  00:00:00     REGULAR      622
7951228  04:00:00     REGULAR      622
7952926  08:00:00     REGULAR      622
7953406  00:00:00     REGULAR  5409973

         Exits
7945848                                                  0
7947613                                                  0
7951228                                                  0
7952926                                                  0
7953406                                            1187639
194218

In [32]:
subway_day = subway_df[subway_df['Date'].isin(['11/02/2016'])]
print subway_day.head()
print len(subway_day)

          C/A  Unit       SCP Station Line Name Division        Date  \
7953406  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016
7953407  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016
7953408  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016
7953409  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016
7953410  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016

             Time Description  Entries  \
7953406  00:00:00     REGULAR  5409973
7953407  04:00:00     REGULAR  5409982
7953408  08:00:00     REGULAR  5410033
7953409  12:00:00     REGULAR  5410183
7953410  16:00:00     REGULAR  5410486

         Exits
7953406                                            1187639
7953407                                            1187641
7953408                                            1187679
7953409                                            1187818
7953410                                            1187889
27296

In [33]:
def hourly(series):
    hourly = series - series.shift(1)
    return hourly

In [43]:
subway_grouped_hourly = subway_week.groupby('Unit')[0]
print subway_grouped_hourly.describe()

KeyError: 'Column not found: 0'