In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

filename = 'turnstyle_2016.csv'
# Read subway data from csv into a pandas dataframe
subway_df = pd.read_csv(filename)
head = subway_df.head()
print "Hello World"

/Users/chrissebesta/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)
/Users/chrissebesta/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Hello World

In [2]:
print subway_df.head()
print len(subway_df)

    C/A  Unit       SCP Station Line Name Division        Date      Time  \
0  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  23:00:00
1  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  19:00:00
2  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  15:00:00
3  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  11:00:00
4  A002  R051  02-00-00   59 ST    NQR456      BMT  03/04/2016  08:10:05

  Description  Entries  \
0     REGULAR  5572864
1     REGULAR  5572521
2     REGULAR  5571587
3     REGULAR  5571313
4     REGULAR  5571173

   Exits
0                                            1881239
1                                            1881206
2                                            1881113
3                                            1881031
4                                            1880736
9492670

In [3]:
subway_week = subway_df[subway_df['Date'].isin(['10/31/2016','11/01/2016','11/02/2016','11/03/2016','11/04/2016','11/05/2016','11/06/2016'])]
print subway_week.head()
print len(subway_week)

          C/A  Unit       SCP Station Line Name Division        Date  \
7945848  A013  R081  01-05-00   49 ST      NQRW      BMT  11/03/2016
7947613  A013  R081  01-05-00   49 ST      NQRW      BMT  11/04/2016
7951228  A013  R081  01-05-00   49 ST      NQRW      BMT  11/04/2016
7952926  A013  R081  01-05-00   49 ST      NQRW      BMT  11/04/2016
7953406  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016

             Time Description  Entries  \
7945848  20:00:00     REGULAR      621
7947613  00:00:00     REGULAR      622
7951228  04:00:00     REGULAR      622
7952926  08:00:00     REGULAR      622
7953406  00:00:00     REGULAR  5409973

         Exits
7945848                                                  0
7947613                                                  0
7951228                                                  0
7952926                                                  0
7953406                                            1187639
194218

In [4]:
subway_day = subway_df[subway_df['Date'].isin(['11/02/2016'])]
print subway_day.head()
print len(subway_day)
subway_day.to_csv('day_data.csv')

          C/A  Unit       SCP Station Line Name Division        Date  \
7953406  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016
7953407  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016
7953408  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016
7953409  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016
7953410  A002  R051  02-00-01   59 ST   NQR456W      BMT  11/02/2016

             Time Description  Entries  \
7953406  00:00:00     REGULAR  5409973
7953407  04:00:00     REGULAR  5409982
7953408  08:00:00     REGULAR  5410033
7953409  12:00:00     REGULAR  5410183
7953410  16:00:00     REGULAR  5410486

         Exits
7953406                                            1187639
7953407                                            1187641
7953408                                            1187679
7953409                                            1187818
7953410                                            1187889
27296

In [5]:
def hourly(series):
    hourly = series - series.shift(1)
    return hourly

In [8]:
# subway_grouped_hourly = subway_week.groupby('Unit')[['Entries']].apply(hourly).dropna()
# print subway_grouped_hourly.head()
# print subway_grouped_hourly.describe()
# subway_grouped_hourly.to_csv('SUBWAY_GROUPED_HOURLY.csv')

subway_grouped = subway_day.groupby(['Unit', 'SCP'])[['Entries']].apply(hourly).dropna()
print subway_grouped
print subway_grouped.describe()

         Entries
7953407      9.0
7953408     51.0
7953409    150.0
7953410    303.0
7953411    812.0
7953449      6.0
7953450     18.0
7953451     64.0
7953452    137.0
7953453    314.0
7953491     16.0
7953492     48.0
7953493    159.0
7953494    299.0
7953495    595.0
7953533     25.0
7953534     48.0
7953535    194.0
7953536    305.0
7953537    699.0
7953575      8.0
7953576     58.0
7953577    257.0
7953578    302.0
7953579    750.0
7953617     23.0
7953618     74.0
7953619    332.0
7953620    352.0
7953621    978.0
...          ...
8144794      1.0
8144795    598.0
8144796    553.0
8144797    383.0
8144798    249.0
8144837      1.0
8144838    592.0
8144839    524.0
8144840    325.0
8144841    226.0
8144880      0.0
8144881     37.0
8144882     72.0
8144883     98.0
8144884     74.0
8144923      0.0
8144924     16.0
8144925     89.0
8144926    101.0
8144927     74.0
8144966      0.0
8144967      0.0
8144968      3.0
8144969      2.0
8144970      0.0
8145009      0.0
8145010      0.0
8145011      0.0
8145012      0.0
8145013      0.0

[22739 rows x 1 columns]
             Entries
count   22739.000000
mean      261.187167
std      2240.986794
min    -40459.000000
25%        14.000000
50%       129.000000
75%       373.000000
max    331873.000000

In [9]:
print subway_grouped['Entries'].sort().head()

NameError: name 'Entries' is not defined